.form {
  transition: 0.4s ease-in-out;
  width: 100%;
}

.form_input,
.form_submit {
  border-radius: 10px;
  padding: 0.5rem;
  display: block;
  margin: 0 auto;
}

.form_input {
  width: 60%;
  transition: 1s ease-in-out;
}

.form_submit {
  width: 200px;
  margin-top: 3rem;
}

@media screen and(max-width: 770px) {
  .form_input {
    width: 100%;
  }
}

@media screen and (max-width: 666px) {
  .form_input {
    width: 90%;
  }
}
